#sus-div {
    align: top;
    height: 10vh;
}

button {
    margin: 20px;
}

h1 {
    font-family: Copperplate, Papyrus, fantasy;
}

body {
    background-color: MintCream;
}

.mani {
    margin: 3.2%;
}